@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,700&family=Oswald&family=Roboto+Condensed:ital@0;1&family=Roboto+Mono:ital,wght@1,200&family=Rubik+Mono+One&family=Young+Serif&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.container_limit_buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.container_limit_buttons button {
  border: 1px solid gainsboro;
  width: 50px;
  height: 50px;
}

.container_limit_buttons .active {
  border: 1px solid gainsboro;
  width: 50px;
  height: 50px;
  border: 2px solid black !important;
}

.container_limit_buttons .active:hover,
.container_limit_buttons button:hover,
.container_pages_buttons button:hover {
  opacity: 0.7;
  background-color: gray;
}

.container_todos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
  flex-direction: column;
}

.container_todo {
  padding: 24px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 5px;
  height: 200px;
  background-color: azure;
}

.container_pages_buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.container_pages_buttons button {
  width: 120px;
  height: 40px;
  border-radius: 0;
}

.active_page {
  background-color: black;
  color: azure;
}

.container_pages_buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding: 20px;
}

.pages_buttons__first_half {
  display: flex;
}

.pages_buttons__middle {
  display: flex;
}

.pages_buttons__last {
  display: flex;
}

.active {
  background-color: black;
  color: aliceblue;
}
